:root {
	--rojo: #E50914;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}
header .buscador {
	display: flex;
}

header nav a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: white
}
.buscador{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
}

.buscar {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/cars.jpg);
	background-size:cover;
	background-position: fixed;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}
.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}
.titulos {
    display: flex;
    background-color: #E50914;  
    align-items: center;  
    color: white;
    font-family: 'Open sans', sans-serif;
    justify-content: center;
}

.Peliculasfavoritas{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Peliculasfavoritas img{
    width: 200px;
}
.Peliculasfavoritas article{
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
}
.Peliculasfavoritas ul{
    padding: 0;
}
.Peliculasfavoritas p{
    color: white;
}
.Peliculasfavoritas article li{
    background-color: #E50914;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.Peliculasfavoritas article li a{
    text-decoration: none;
    color: white;
}
h2{
    color: white;
}
.seriesfav{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seriesfav img{
    width: 200px;
}
.seriesfav article{
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
}
.seriesfav ul{
    padding: 0;
}
.seriesfav p{
    color: white;
}
.seriesfav article li{
    background-color:  #E50914;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.seriesfav article li a{
    text-decoration: none;
    color: white;
}
h2{
    color: white;
}
.masvis{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-between
}
.masvis img{
    width: 200px;
}
.masvis article{
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
}
.masvis ul{
    padding: 0;
}
.masvis p{
    color: white;
}
.masvis article li{
    background-color:  #E50914;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.masvis article li a{
    text-decoration: none;
    color: white;
}
h2{
    color: white;
}
footer{
    margin-top: 30px;
    background-color: rgb(200,0,0);
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.nav-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-footer li{
    margin: 10px;
   color:white;
}
.nav-footer img{
    display: flex;
    flex-direction:row;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 450px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}