.generos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.generos img{
    width: 200px;
}
.generos article{
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
}
.generos ul{
    padding: 0;
}
.generos article li{
    background-color:  wheat;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} h2{
    color: black;
}